*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.Wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.isi {
  display: flex;
  flex-direction: row;
}

button {
  background-color: tomato;
  color: #000;
  font-size: 1rem;
  border-radius: 5px;
  margin-left: 10px;
  transition: all 0.4s;
  padding: 10px;
  height: 65px;
  font-weight: 700;
  margin-top: 10px;
}

button:hover {
  background-color: #000;
  color: white;
}

input {
  border: 2px solid red;
  background-color: #fff;
  border-radius: 5px;
  padding: 16px;
  font-size: 1rem;
  margin-top: 10px;
}

#Question {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

#loading {
  display: none;
  width: 85px;
  height: 85px;
  position: absolute;
  border-top: 10px solid red;
  border-radius: 50%;
  top: 50%;
  //left: 50%;
  right: 40%;
  bottom: 50%;
  z-index: 9;
  animation: 1s spin infinite linear;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(380deg);
  }
}
